<ion-content padding>
  <form [formGroup]="resetPasswordform">
    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Enter your Email"
       [class.invalid]="!resetPasswordform.controls['email'].valid && resetPasswordform.controls['email'].touched"  
       ngModel required>
      </ion-input>
    </ion-item>
    <div class="validation-errors" *ngIf="!resetPasswordform.controls['email'].valid
    && resetPasswordform.controls['email'].touched">
        Please enter a valid email address
    </div>
    <ion-button expand="block" (click)="resetPassword(resetPasswordform)"
      [disabled]="!resetPasswordform.valid">
      Reset your Password
    </ion-button>
  </form>
</ion-content>