<ion-header translucent>
	<ion-toolbar>
		<ion-searchbar></ion-searchbar>

	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="currentUserRole=='admin'">
		<ion-fab-button color="primary" routerLink="/add-device">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-list>
		<ion-list-header>
			<ion-label class=".ion-text-center">My Devices</ion-label>
		</ion-list-header>
		<div *ngFor="let myDevice of myBorrowedDevices">
			<ion-item-sliding *ngIf="myDevice?.deviceStatus=='borrowed'">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../../assets/thumbnail/deviceThumbnail.png">
					</ion-avatar>
					<ion-label>
						<h2>{{myDevice?.deviceName}}</h2>
						<p><strong>{{myDevice?.serialNumber}}</strong></p>
						<p>{{myDevice?.specification}}</p>
						<p>{{myDevice?.deviceStatus}}</p>
					</ion-label>
				</ion-item>
				<ion-item-options side="end">
					<ion-item-option (click)="returnDevice(myDevice?.id,myDevice?.deviceid, 'Available')">
						Return
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</div>
	</ion-list>

	<ion-list class="allDevices">
		<ion-list-header>
			<ion-label class=".ion-text-center">All Devices</ion-label>
		</ion-list-header>
		<div tappable *ngFor="let device of deviceList">
			<ion-item-sliding>
				<ion-item routerLink="/device-detail/{{ device.id }}">
					<ion-avatar slot="start">
						<img src="../../../assets/thumbnail/deviceThumbnail.png">
					</ion-avatar>
					<ion-label>
						<h2>{{device?.deviceName}}</h2>
						<p><strong>{{device?.serialNumber}}</strong></p>
						<p>{{device?.specification}}</p>
						<p *ngIf="device?.deviceStatus=='borrowed'" class="borrowed">{{device?.deviceStatus}}</p>
						<p *ngIf="device?.deviceStatus=='Available'" class="available">{{device?.deviceStatus}}</p>
						<p *ngIf="device?.borrower">{{device?.borrower}}</p>
					</ion-label>
				</ion-item>
				<ion-item-options side="end">
					<ion-item-option *ngIf="device?.deviceStatus=='Available'"
						(click)="borrowDevice(device, 'borrowed')">
						Borrow
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</div>
	</ion-list>

</ion-content>

<script>
	const searchbar = document.querySelector('ion-searchbar');
	const items = Array.from(document.querySelectorAll('.allDevices').children);
	searchbar.addEventListener('ionInput', handleInput);
	function handleInput(event) {
		const query = event.target.value.toLowerCase();
		requestAnimationFrame(() => {
			items.forEach(item => {
				const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
				item.style.display = shouldShow ? 'block' : 'none';
			});
		});
	}
</script>