<ion-header translucent>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  <ion-buttons slot="end">
    <ion-button slot="primary" (click)="scan()">
      <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header > <ion-label class=".ion-text-center">Device List</ion-label> </ion-list-header>
    <ion-item
      tappable
      *ngFor="let device of deviceList"
      routerLink="/device-detail/{{ device.deviceName }}" >
      <ion-label>
        <h2>{{device?.deviceName}}</h2>
        <p> <strong>{{device?.serialNumber}}</strong></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- " -->