<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>device list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header> <ion-label>Your next events</ion-label> </ion-list-header>
    <ion-item
      tappable
      *ngFor="let device of deviceList"
      routerLink="/device-detail/{{ device.id }}"
    >
      <ion-label>
        <h2>{{device?.name}}</h2>
        <p>Ticket: <strong>${{device?.serialNum}}</strong></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>